body{
    background:#121821;
    color:white;
    font-family:Arial;
}

.notif-title{
    text-align:center;
    margin:30px 0;
}

.notif-box{
    max-width:600px;
    margin:auto;
}

/* Item */

.notif-item{
    background:#1f2a35;

    padding:15px 20px;

    border-radius:8px;

    margin-bottom:12px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    transition:transform .15s;
}

.notif-item:hover{
    transform:scale(1.01);
}

/* Message */

.notif-msg{
    font-size:15px;
}

/* Time */

.notif-time{
    font-size:12px;
    color:#aaa;
}

/* Empty */

.empty{
    text-align:center;
    opacity:.6;
    margin-top:40px;
}
